* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  /* display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  
}
#changeCanvas {
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 3rem;
  width: 12rem;
  height: 3rem;
  background-color: #55a2e6;
  color: white;
  margin: 10px auto;
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  aspect-ratio: 1/1;
  margin: 1rem auto;

}

.square {
  width: calc(500px/16);
  aspect-ratio: 1/1;
  
  background-color: yellow;
  /* border: 1px solid green; */
}
